table
{    
    width: 400px;
}

th, caption
{
    text-align: center;
}

table, th, td
{
    border: 1px light #000;
}

th, td
{
    padding: 10px;
}

tr:nth-child(even)
{
    background-color: light blue;
}

tr:nth-child(odd)
{
    background-color: blue;
}

tr:hover 
{
    background-color: blue;
}

.firstsection {
    background-color: blue;
    height: 400px;
}